* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.top-nav {
    padding: 15px 0px;
    background: rgba(155, 55, 23, 1);

    p {
        font-family: Montserrat;
        font-size: 17.28px;
        font-weight: 500;
        line-height: 19.01px;
        letter-spacing: 0.16em;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        margin: 0px;
    }
}

nav {
    .nav-link {
        font-family: "DM Sans", sans-serif !important;
        font-size: 22px;
        font-weight: 500;
        line-height: 24.2px;
        letter-spacing: 0.05em;
        text-align: center;

    }
}

.certifications {
    padding: 80px 0px;

    .row {
        align-items: center;
    }
}

.distributor {
    background: url(../Images/bg-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0px;

    h2 {
        font-family: "DM Sans", sans-serif;
        font-size: 48px;
        font-weight: 500;
        line-height: 55.2px;
        letter-spacing: 0.04em;
        text-align: center;
        color: rgba(18, 35, 124, 1);
    }

    p {
        font-family: "DM Sans", sans-serif;
        font-size: 19.7px;
        font-weight: 400;
        line-height: 27.58px;
        letter-spacing: 0.04em;
        text-align: justified;
        color: #000;
    }

    h5 {
        font-family: "DM Sans", sans-serif;
        font-size: 22px;
        font-weight: 700;
        line-height: 30.8px;
        letter-spacing: 0.04em;
        text-align: left;
        color: rgba(18, 35, 124, 1);
    }

    h4 {
        font-family: "DM Sans", sans-serif;
        font-size: 22px;
        font-weight: 700;
        line-height: 30.8px;
        letter-spacing: 0.04em;
        text-align: justified;
        color: rgba(18, 35, 124, 1);
    }

    h6 {
        font-family: "DM Sans", sans-serif;
        font-size: 19.7px;
        font-weight: 400;
        line-height: 27.58px;
        letter-spacing: 0.04em;
        text-align: justified;
        color: #000;

        span {
            font-family: "DM Sans", sans-serif;
            font-size: 19.7px;
            font-weight: 700;
            line-height: 27.58px;
            letter-spacing: 0.04em;
            text-align: justified;
            color: rgba(155, 55, 23, 1);
        }
    }
}

.about-us {
    padding: 80px 0px;
    background: rgba(155, 55, 23, 1);

    .box {
        background: rgba(246, 246, 246, 0.16);
        padding: 30px;

        h3 {
            font-family: "DM Sans", sans-serif;
            font-size: 42px;
            font-weight: 700;
            line-height: 54.75px;
            letter-spacing: 0.04em;
            text-align: center;
            color: #fff;
        }

        h6 {
            font-family: "DM Sans", sans-serif;
            font-size: 42px;
            font-weight: 400;
            line-height: 54.75px;
            letter-spacing: 0.04em;
            text-align: center;
            color: #fff;
        }

        p {
            font-family: "DM Sans", sans-serif;
            font-size: 19.23px;
            font-weight: 400;
            line-height: 25.07px;
            letter-spacing: 0.04em;
            text-align: center;
            color: #fff;
        }
    }
}

.freshness {
    padding-top: 60px;
    padding-bottom: 20px;

    h2 {
        font-family: "DM Sans", sans-serif;
        font-size: 48px;
        font-weight: 500;
        line-height: 62.57px;
        letter-spacing: 0.04em;
        background: rgba(18, 35, 124, 1);
        width: fit-content;
        padding: 2px 20px;
        color: #fff;
        margin-bottom: 28px;
    }

}

.grow {
    padding-top: 30px;
    margin-bottom: 60px;

    h2 {
        font-family: "DM Sans", sans-serif;
        font-size: 48px;
        font-weight: 500;
        line-height: 62.57px;
        letter-spacing: 0.04em;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        background: rgba(10, 29, 130, 1);
        width: fit-content;
        padding: 3px 14px;
    }

    h6 {
        font-family: "DM Sans", sans-serif;
        font-size: 42px;
        font-weight: 700;
        line-height: 57.54px;
        letter-spacing: 0.04em;
        text-align: center;
        color: rgba(0, 0, 0, 1);
    }

    h3 {
        font-family: "DM Sans", sans-serif;
        font-size: 22px;
        font-weight: 700;
        line-height: 30.8px;
        letter-spacing: 0.04em;
        text-align: justified;
        color: rgba(155, 55, 23, 1);
    }

    h5 {
        font-family: "DM Sans", sans-serif;
        font-size: 19.7px;
        font-weight: 400;
        line-height: 29.55px;
        letter-spacing: 0.04em;
        text-align: justified;
        color: rgba(0, 0, 0, 1);

        span {
            color: rgba(155, 55, 23, 1);
        }
    }
}

.join-distributor {
    padding: 70px 0px;
    background: conic-gradient(from 90deg at 50% 50%, #C74F29 0deg, #9B3717 171.6deg, #C74F29 360deg);

    h2 {
        font-family: "DM Sans", sans-serif;
        font-size: 48px;
        font-weight: 500;
        line-height: 62.57px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #fff;
    }

    p {
        font-family: "DM Sans", sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #fff;
        margin: 0px;
    }

    button {
        background: rgba(255, 255, 255, 1);
        border: none;
        a {
            color: rgba(18, 35, 124, 1);
            text-decoration: none;
            font-family: "DM Sans", sans-serif;
            font-size: 17.28px;
            font-weight: 700;
            line-height: 19.01px;
            letter-spacing: 0.16em;
            text-align: center;
        }
        padding: 10px 30px;
    }
}

.home-products {
    padding: 60px 0px;

    h2 {
        font-family: "DM Sans", sans-serif;
        font-size: 48px;
        font-weight: 500;
        line-height: 62.57px;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        background: rgba(18, 35, 124, 1);
        width: fit-content;
        padding: 4px 15px;
    }

    p {
        font-family: "DM Sans", sans-serif;
        font-size: 42px;
        font-weight: 400;
        line-height: 57.54px;
        letter-spacing: 0.04em;
        text-align: center;
        color: #000;
    }
}

.exhibition {
    padding: 60px 0px;
    background: rgba(242, 175, 154, 0.46);

    h2 {

        font-size: 48px;
        font-weight: 500;
        line-height: 62.57px;
        letter-spacing: 0.04em;
        text-align: center;
        font-family: "DM Sans", sans-serif;
        color: #fff;
        width: fit-content;
        background: rgba(18, 35, 124, 1);
        padding: 3px 10px;
    }
}

.icon {
    padding: 40px 0px;

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.certifications {
    h2 {
        font-family: "DM Sans", sans-serif;
        font-size: 48px;
        font-weight: 500;
        line-height: 62.57px;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        background: rgba(18, 35, 124, 1);
        padding: 3px 18px;
    }

    h6 {
        font-family: "Montserrat", sans-serif;
        font-size: 19.14px;
        font-weight: 500;
        line-height: 21.05px;
        letter-spacing: 0.16em;
        text-align: center;
        color: #000;
        background: rgba(255, 205, 108, 1);
        padding: 10px 0px;
    }
}

.why-diat {
    padding: 60px 0px;

    h2 {
        font-family: "DM Sans", sans-serif;
        font-size: 48px;
        font-weight: 500;
        line-height: 55.2px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #000;
        margin-bottom: 30px;
    }

    p {
        font-family: "DM Sans", sans-serif;
        font-size: 19.23px;
        font-weight: 400;
        line-height: 25.07px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #000;
    }
}

.contact-form {
    padding: 50px 0px;
    background: rgb(242, 175, 154, 0.46);

    .box {
        background: linear-gradient(180deg, #9B3717 0%, #9B3717 100%);
        padding: 60px 20px;
        border-radius: 20px;

        input {
            width: 100%;
            font-family: "DM Sans", sans-serif;
            font-size: 19.23px;
            font-weight: 400;
            line-height: 25.07px;
            letter-spacing: 0.04em;
            color: rgba(0, 0, 0, 0.59);
            padding: 10px;
        }

        textarea {
            width: 100%;
            font-family: "DM Sans", sans-serif;
            font-size: 19.23px;
            font-weight: 400;
            line-height: 25.07px;
            letter-spacing: 0.04em;
            color: rgba(0, 0, 0, 0.59);
            padding: 10px;
            height: 180px;
        }

        h2 {
            font-family: DM Sans;
            font-size: 48px;
            font-weight: 500;
            line-height: 55.2px;
            letter-spacing: 0.04em;
            text-align: center;
            color: #fff;
            margin-bottom: 18px;
        }
        button{
            background: rgba(255, 255, 255, 1);
            color: rgba(18, 35, 124, 1);
            padding: 10px 30px;
            font-family: "DM Sans", sans-serif;
            font-size: 17.28px;
            font-weight: 700;
            line-height: 19.01px;
            letter-spacing: 0.16em;
            text-align: center;
        }
    }
}

.foot{
    p{
        margin: 0px;
        font-family: "DM Sans", sans-serif;
        font-size: 22px;
        font-weight: 500;
        line-height: 28.68px;
        letter-spacing: 0.04em;
        text-align: center;
        color: #000;
    }
}