* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.top-nav {
  padding: 15px 0px;
  background: rgb(155, 55, 23);
}
.top-nav p {
  font-family: Montserrat;
  font-size: 17.28px;
  font-weight: 500;
  line-height: 19.01px;
  letter-spacing: 0.16em;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0px;
}
@media (max-width: 991px) {
  .top-nav p {
    letter-spacing: normal;
    line-height: normal;
    font-size: 10px;
  }
}

nav .nav-link {
  font-family: "DM Sans", sans-serif !important;
  font-size: 22px;
  font-weight: 500;
  line-height: 24.2px;
  letter-spacing: 0.05em;
}

.certifications {
  padding: 80px 0px;
}
.certifications .row {
  align-items: center;
}

.distributor {
  background: url(../Images/bg-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0px;
}
.distributor h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 55.2px;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgb(18, 35, 124);
}
@media (max-width: 991px) {
  .distributor h2 {
    font-size: 32px;
    line-height: normal;
    letter-spacing: normal;
  }
}
.distributor p {
  font-family: "DM Sans", sans-serif;
  font-size: 19.7px;
  font-weight: 400;
  line-height: 27.58px;
  letter-spacing: 0.04em;
  text-align: justified;
  color: #000;
}
@media (max-width: 991px) {
  .distributor p {
    font-size: 15px;
    line-height: normal;
    letter-spacing: normal;
  }
}
.distributor h5 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 30.8px;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgb(18, 35, 124);
}
@media (max-width: 991px) {
  .distributor h5 {
    font-size: 18px;
    letter-spacing: normal;
    line-height: normal;
  }
}
.distributor h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 30.8px;
  letter-spacing: 0.04em;
  text-align: justified;
  color: rgb(18, 35, 124);
}
@media (max-width: 991px) {
  .distributor h4 {
    font-size: 20px;
    line-height: normal;
    letter-spacing: normal;
  }
}
.distributor h6 {
  font-family: "DM Sans", sans-serif;
  font-size: 19.7px;
  font-weight: 400;
  line-height: 27.58px;
  letter-spacing: 0.04em;
  text-align: justified;
  color: #000;
}
@media (max-width: 991px) {
  .distributor h6 {
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
  }
}
.distributor h6 span {
  font-family: "DM Sans", sans-serif;
  font-size: 19.7px;
  font-weight: 700;
  line-height: 27.58px;
  letter-spacing: 0.04em;
  text-align: justified;
  color: rgb(155, 55, 23);
}
@media (max-width: 991px) {
  .distributor h6 span {
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
  }
}

.about-us {
  padding: 80px 0px;
  background: rgb(155, 55, 23);
}
.about-us .box {
  background: rgba(246, 246, 246, 0.16);
  padding: 30px;
}
.about-us .box h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 54.75px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}
@media (max-width: 991px) {
  .about-us .box h3 {
    line-height: normal;
    letter-spacing: normal;
    font-size: 28px;
  }
}
.about-us .box h6 {
  font-family: "DM Sans", sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 54.75px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}
@media (max-width: 991px) {
  .about-us .box h6 {
    line-height: normal;
    letter-spacing: normal;
    font-size: 28px;
  }
}
.about-us .box p {
  font-family: "DM Sans", sans-serif;
  font-size: 19.23px;
  font-weight: 400;
  line-height: 25.07px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}
@media (max-width: 991px) {
  .about-us .box p {
    line-height: normal;
    letter-spacing: normal;
    font-size: 16px;
  }
}

.freshness {
  padding-top: 60px;
  padding-bottom: 20px;
}
.freshness h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 62.57px;
  letter-spacing: 0.04em;
  background: rgb(18, 35, 124);
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 20px;
  color: #fff;
  margin-bottom: 28px;
}
@media (max-width: 991px) {
  .freshness h2 {
    font-size: 32px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .freshness p {
    text-align: center;
  }
}

.grow {
  padding-top: 30px;
  margin-bottom: 60px;
}
.grow h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 62.57px;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgb(10, 29, 130);
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 14px;
}
@media (max-width: 991px) {
  .grow h2 {
    line-height: normal;
    letter-spacing: normal;
    font-size: 32px;
  }
}
.grow h6 {
  font-family: "DM Sans", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 57.54px;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgb(0, 0, 0);
}
@media (max-width: 991px) {
  .grow h6 {
    line-height: normal;
    letter-spacing: normal;
    font-size: 28px;
  }
}
.grow h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 30.8px;
  letter-spacing: 0.04em;
  text-align: justified;
  color: rgb(155, 55, 23);
}
@media (max-width: 991px) {
  .grow h3 {
    line-height: normal;
    letter-spacing: normal;
    font-size: 20px;
  }
}
.grow h5 {
  font-family: "DM Sans", sans-serif;
  font-size: 19.7px;
  font-weight: 400;
  line-height: 29.55px;
  letter-spacing: 0.04em;
  text-align: justified;
  color: rgb(0, 0, 0);
}
@media (max-width: 991px) {
  .grow h5 {
    line-height: normal;
    letter-spacing: normal;
  }
}
.grow h5 span {
  color: rgb(155, 55, 23);
}

.join-distributor {
  padding: 70px 0px;
  background: conic-gradient(from 90deg at 50% 50%, #C74F29 0deg, #9B3717 171.6deg, #C74F29 360deg);
}
.join-distributor h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 62.57px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #fff;
}
@media (max-width: 991px) {
  .join-distributor h2 {
    line-height: normal;
    letter-spacing: normal;
    font-size: 28px;
  }
}
.join-distributor h2 img {
  width: 38px;
}
.join-distributor p {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #fff;
  margin: 0px;
}
@media (max-width: 991px) {
  .join-distributor p {
    line-height: normal;
    letter-spacing: normal;
    font-size: 20px;
  }
}
.join-distributor button {
  background: rgb(255, 255, 255);
  border: none;
  padding: 10px 30px;
}
.join-distributor button a {
  color: rgb(18, 35, 124);
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-size: 17.28px;
  font-weight: 700;
  line-height: 19.01px;
  letter-spacing: 0.16em;
  text-align: center;
}

.home-products {
  padding: 60px 0px;
}
.home-products h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 62.57px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background: rgb(18, 35, 124);
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 15px;
}
@media (max-width: 991px) {
  .home-products h2 {
    font-size: 32px;
    line-height: normal;
    letter-spacing: normal;
  }
}
.home-products h6 {
  font-family: "DM Sans", sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 57.54px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #000;
}
@media (max-width: 991px) {
  .home-products h6 {
    font-size: 28px;
    line-height: normal;
    letter-spacing: normal;
  }
}
.home-products p {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 57.54px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #000;
}
@media (max-width: 991px) {
  .home-products p {
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
  }
}
.home-products .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.home-products .gallery .image {
  padding: 7px;
  width: 25%;
  cursor: pointer;
}
.home-products .gallery .image span {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.home-products .gallery .image img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.home-products .gallery .image:hover img {
  transform: scale(1.1);
}
.home-products .preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 600px;
  width: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.home-products .preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.home-products .preview-box .details {
  display: flex;
  align-items: center;
  padding: 12px 15px 12px 10px;
  justify-content: space-between;
}
.home-products .preview-box .details .title {
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.home-products .details .title p {
  margin: 0 5px;
}
.home-products .details .title p.current-img {
  font-weight: 500;
}
.home-products .details .icon {
  color: #000;
  font-size: 20px;
  cursor: pointer;
}
.home-products .preview-box .image-box {
  display: flex;
  width: 100%;
  position: relative;
}
.home-products .image-box .slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  width: 60px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
}
.home-products .slide.prev {
  left: 0px;
  color: #fff;
}
.home-products .slide.next {
  right: 0px;
  color: #fff;
}
.home-products .image-box img {
  width: 100%;
  border-radius: 0 0 3px 3px;
}
.home-products .shadow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0, 0, 0, 0.45);
}
@media (max-width: 1000px) {
  .home-products .gallery .image {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .home-products .gallery .image {
    width: 100%;
    padding: 4px;
  }
}

.exhibition {
  padding: 60px 0px;
  background: rgba(242, 175, 154, 0.46);
}
.exhibition h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 62.57px;
  letter-spacing: 0.04em;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  background: rgb(18, 35, 124);
  padding: 3px 10px;
}
@media (max-width: 991px) {
  .exhibition h2 {
    font-size: 32px;
    letter-spacing: normal;
    line-height: normal;
  }
}

.icon {
  padding: 40px 0px;
}
.icon .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.certifications h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 62.57px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background: rgb(18, 35, 124);
  padding: 3px 18px;
}
@media (max-width: 991px) {
  .certifications h2 {
    line-height: normal;
    letter-spacing: normal;
    font-size: 32px;
  }
}
.certifications h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 19.14px;
  font-weight: 500;
  line-height: 21.05px;
  letter-spacing: 0.16em;
  text-align: center;
  color: #000;
  background: rgb(255, 205, 108);
  padding: 10px 0px;
}
@media (max-width: 991px) {
  .certifications h6 {
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
  }
}

.why-diat {
  padding: 60px 0px;
}
.why-diat h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 55.2px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #000;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .why-diat h2 {
    font-size: 32px;
    line-height: normal;
    letter-spacing: normal;
  }
}
.why-diat p {
  font-family: "DM Sans", sans-serif;
  font-size: 19.23px;
  font-weight: 400;
  line-height: 25.07px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #000;
}
@media (max-width: 991px) {
  .why-diat p {
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
  }
}

.contact-form {
  padding: 50px 0px;
  background: rgba(242, 175, 154, 0.46);
}
.contact-form .box {
  background: linear-gradient(180deg, #9B3717 0%, #9B3717 100%);
  padding: 60px 20px;
  border-radius: 20px;
}
.contact-form .box input {
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 19.23px;
  font-weight: 400;
  line-height: 25.07px;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.59);
  padding: 10px;
}
.contact-form .box textarea {
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 19.23px;
  font-weight: 400;
  line-height: 25.07px;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.59);
  padding: 10px;
  height: 180px;
}
.contact-form .box h2 {
  font-family: DM Sans;
  font-size: 48px;
  font-weight: 500;
  line-height: 55.2px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin-bottom: 18px;
}
@media (max-width: 991px) {
  .contact-form .box h2 {
    font-size: 28px;
    line-height: normal;
    letter-spacing: normal;
  }
}
.contact-form .box button {
  background: rgb(255, 255, 255);
  color: rgb(18, 35, 124);
  padding: 10px 30px;
  font-family: "DM Sans", sans-serif;
  font-size: 17.28px;
  font-weight: 700;
  line-height: 19.01px;
  letter-spacing: 0.16em;
  text-align: center;
}

.foot p {
  margin: 0px;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 28.68px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #000;
}
@media (max-width: 991px) {
  .foot p {
    font-size: 18px;
    line-height: normal;
    letter-spacing: normal;
  }
}

.whatsapp-icon {
  position: fixed;
  right: 0px;
  bottom: 100px;
  z-index: 600;
}

.become-partner {
  position: fixed;
  right: 0px;
  bottom: 20px;
}
.become-partner button {
  background-color: #9B3717;
  padding: 10px 20px;
  border: none;
}
.become-partner button a {
  text-decoration: none;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */